{% extends "AppCoder/plantilla.html"%}

{% load static %}

{% block contenidoQueCambia %}
    
   <h1>Listado de Clientes</h1>
   <div class="table-responsive py-2">
       <table class="table table-striped">
           <thead>
               <tr>
                   <th>Codigo</th>
                   <th>Nombre</th>
                   <th>Apellido</th>
                   <th>Telefono</th>
                   <th>Email</th>
                   <th>Direccion</th>
                   <th>Observaciones</th>
               </tr>
           </thead>
           <tbody>
               {% for c in cliente %}
               <tr>
                   <td>{{c.codigo}}</td>
                   <td>{{c.nombre}}</td>
                   <td>{{c.apellido}}</td>
                   <td>{{c.telefono}}</td>
                   <td>{{c.email}}</td>
                   <td>{{c.direccion}}</td>
                   <td>{{c.observaciones}}</td>          
                                 
                   <td><a href="{% url 'editarCliente' c.codigo %}" class="btn btn-info">Editar</a></td>
                   <td><a href="{% url 'eliminarCliente' c.codigo %}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
               </tr>
               {% endfor %}
               
           </tbody>
       </table>

   </div>
{% endblock %}